.rating-container{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    background-color: hsl(212, 16%, 21%);
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .Rating-Content{
    padding-top: 22%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
      color: hsl(0, 0%, 100%);
    }
    p{
      color: hsl(217, 12%, 63%);
      line-height: 20px;
    }
    .ratings-icons{
      display: flex;
      align-items: center;
      gap: 23px;
      .icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color:hsl(212, 16%, 21%);
        color: hsl(217, 12%, 63%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
          transition: all 0.5s ease;
          color: hsl(216, 12%, 8%);
          background-color: hsl(25, 97%, 53%); 
        }
        &.active {
          background-color: white;
          color: hsl(212, 16%, 21%);
        }
      }
    }
    button{
      width: 90%;
      border-radius: 30px;
      padding: 15px;
      border: none;
      background-color:hsl(25, 97%, 53%);
      letter-spacing: 2px;
      font-weight: 700;
      cursor: pointer;
      &:hover{
        transition: all 0.5s ease;
        background-color: white;
      }
    }
  }
}

.active{
  color: red;
  background-color: aqua;
}